@import './colors.scss';


.category-page {
  width: 100%;
  height: 100%;

  display: flex;

  .main {
    width: 100%;
    height: 100%;

    background: $cream;
    
    padding-top: 25px;
    padding-left: 9px;
  }
}