@import './colors.scss';


.category-page {
  width: 100%;
  height: 100%;

  display: flex;

  .main {
    width: 100%;
    height: 100%;

    background: $cream;

    padding-top: 22px;

    .title {
      font-size: 2rem;
      font-weight: 800;
      color: $dark-red;
      text-transform: capitalize;
      padding-left: 9px;
    }

    .filter {
      width: 100%;
      // height: 60px;
      display: grid;
      gap: 10px;
      grid-template-columns: 5px;
      grid-auto-flow: column;
      grid-auto-columns: calc(25% - 10px * 2);
      grid-template-rows: auto;
      padding-bottom: 10px;

      margin-top: 25px;

      overflow-x: scroll;

      &::before, &::after {
        content: '';
        width: 10px;
      } 

      &-item {
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
    }

    .cards {
      width: 100%;
      display: grid;
      gap: 0px;
      grid-template-columns: 5px;
      grid-auto-flow: column;
      grid-auto-columns: calc(90% - 10px * 2);
      grid-template-rows: auto;
      padding-bottom: 10px;

      margin-top: 10px;

      overflow-x: scroll;

      &::before, &::after {
        content: '';
        width: 25px;
      } 

      .product-card {
        text-decoration: none;
        color: black;
    
        & > div {
          position: relative;
    
          margin-top: 75px;
          margin-left: 40px;
          // width: 225px;
    
          background: $white;
          border-radius: 20px;
    
          padding: 140px 15px 15px;
  
          box-shadow: 0 4px 4px rgba($black, .25);
    
          img {
            position: absolute;
            top: -50px;
            left: -30px;
          }
    
          .name {
            color: $dark-red;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: capitalize;
          }
    
          .rating, .desc {
            margin-bottom: 15px;
          }
    
          .rating {
            color: $lite-red;
          }
    
          .prices {
            width: 100%;
            text-align: right;
            font-size: 1.5rem;
            color: $dark-red;
            font-weight: 800;
    
            span {
              font-size: 1rem;
            }
          }
          .circles {
            position: absolute;
            top: 0;
            right: 0;
    
            width: 100%;
            height: 200px;
    
            padding-top: 50px;
            
            overflow: hidden;
    
            .before {
              position: absolute;
              top: 60px;
              right: -60px;
    
              width: 125px;
              height: 125px;
    
              background: $dark-red;
    
              border-radius: 50%;
            }
    
            .after {
              position: absolute;
              top: 40px;
              right: -50px;
    
              width: 125px;
              height: 125px;
    
              background: rgba($cream, .7);
    
              border-radius: 50%;
            }
          }
        }
      }
    }
    
    .cart-container {
      position: relative;
      width: 100%;

      .cart {
        position: absolute;
        right: 15px;
        font-size: 2.5rem;
        color: $white;
  
        margin-top: 30px;
        margin-left: auto;
  
        // width: 75px;
        // height: 75px;
  
        padding: 25px;
  
        background: linear-gradient(to top right, $dark-red, $lite-red);
  
        border-radius: 50%;

        box-shadow: 0 4px 4px rgba($black, .25);
      }
    }
    
  }
}